.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.appcontainer {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: lightcyan;
}

.leftcontainer {
  width: 20%;

}

.middlecontainer {
  width: 50%;


}

.rightcontainer {
  width: 30%;

}

.articleDIV {
  margin-top: 20px;
  background-color: lightblue;
  max-width: 700px;
  height: 150px;
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
}

.articleDIVparent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100px;
  width: auto;

  margin-top: 20px;

}


.message1 {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.message2 {
  margin-top: 20px;
  background-color: lightblue;
  max-width: 700px;
  height: 150px;
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;

}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 50px;


}

.mssg {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column ;
  align-content: center;
  margin-top: 100px;
}

.mssg1 {

 background-color: cornflowerblue

  
}